@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=PT+Sans:wght@400;700&display=swap');

.container {
    min-width: 20%;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    margin-top: -10px;
    padding: 10px;
    border-style: solid;
    border-radius: 15px 0 15px 0;
    border-color: #3c6090;
}

.titulo {
    font-size: 20pt;
    margin-left: 35px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    text-align: left;
}

.descricao {
    font-size: 12pt;
    margin: 20px;
    font-family: 'PT Sans', sans-serif;
    text-align: left;
}

@media (max-width: 800px) {
    .container {
        min-width: 92vh;
    }
}