@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=PT+Sans:wght@400;700&display=swap');

.header {
    width: 100%;
    display: flex;
    background-color: #006666;
    color: #fff;
}

.header button p {
    font-size: 16px;
    font-family: 'PT Sans', sans-serif;
    color: #fff;
    font-weight: 500;
}

.header button h1 {
    font-family: 'Concert One', cursive;
    font-size: 35px;
    color: #fff;
    margin-right: 30px;
}

.Button {
    display: flex;
    flex-direction: row;
    margin-left: 15px;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
}

.containerSearch {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-self: center;
    align-items: center;
}

.header input {
    width: 100%;
    border-radius: 10px 0 0px 0;
    height: 7vh;
    outline: none;
    border-width: 0ch;
    border: #fff;
    padding-left: 15px;
    font-size: 16px;
    font-family: 'PT Sans', sans-serif;
}

.searching {
    background-color: #fff;
    height: 7vh;
    border-radius: 0px 0 10px 0;
    padding: 5px;
    padding-right: 10px;
    border: none;
    cursor: pointer;
}

.carrinho {
    align-self: center;
    margin-right: 15px;
    padding: 10px;
    transition: all .4s ;
}

.carrinho:hover {
    background-color: rgba(255,255,255,0.35);
    border-radius: 7px;
}

.opcoes {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-self: center;
    justify-content: space-between;
    margin-right: 15vh;
}

.buttonChoice {
    margin-right: 5px;
    padding: 10px;
    transition: all .4s ;
}

.buttonChoice:hover {
    background-color: rgba(255,255,255,0.35);
    border-radius: 7px;
}
