@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=PT+Sans:wght@400;700&display=swap');

.container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    min-width: 60vmax;
    height: auto;
}

.nome {
    flex: 1;
    align-self: center;
    font-size: 12pt;
    margin-left: 5px;
    margin-right: 5px;
    font-family: 'PT Sans', sans-serif;
    text-align: left;
}

.nomeRiscado {
    flex: 1;
    align-self: center;
    font-size: 12pt;
    margin-left: 5px;
    margin-right: 5px;
    font-family: 'PT Sans', sans-serif;
    text-align: left;
    text-decoration: line-through;
}

.img {
    flex: 1;
    max-width: 50%;
    height: auto;
    margin: 15px;
}

.imgApagada {
    flex: 1;
    max-width: 50%;
    height: auto;
    margin: 15px;
    opacity: 0.5;
}

.spanImg {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.quantidade {
    display: flex;
    justify-content: center;
    border-style: solid;
    border-radius: 15px 0 15px 0;
    border-width: 1px;
    margin: 45px;
}

.button {
    cursor: pointer;
    background: none;
    border: none;
    height: auto;
}

.buttonDisabed {
    background: none;
    border: none;
    height: auto;
}

.numero {
    align-self: center;
    font-size: 12pt;
    margin-left: 15px;
    margin-right: 15px;
    font-family: 'PT Sans', sans-serif;
    text-align: center
}

.preco {
    display: flex;
    min-width: 80px;
    align-self: center;
    justify-content: flex-end;
    font-size: 14pt;
    font-family: 'PT Sans', sans-serif;
    font-weight: 600;
    text-align: left;
    margin-left: 35px;
}

@media (max-width: 800px) {
    .container {
        min-width: 70vh;
        justify-content: center;
    }
}