@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=PT+Sans:wght@400;700&display=swap');

.titulo {
    font-size: 26px;
    font-family: 'PT Sans', sans-serif;
    color: #fff;
    font-weight: 700;
}

.bloco {
    border-style: solid;
    border-radius: 15px 0 15px 0;
    border-color: #3c6090;
}